/* CSS code for landing page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather', serif;
}





/*top navbar */
.top-navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(67 0 86);

}
.top-navbar p{
    margin-top: 13px ;
    margin-left: 15px;
    color: white;
}
.top-navbar .icons{
    margin-top: 5px;
    margin-right: 15px;
}
.top-navbar a{
    text-decoration: none;
    color: white;
    margin-left: 10px;

}
.top-navbar a img{
    margin-bottom: 3px;
}
.top-navbar a:hover {
    color: yellow;
}
@media screen and (max-width:400px) {
    .top-navbar a{
        font-size: 13px;
    }
    .top-navbar a img{
        width: 15px;
    }
    .top-navbar p{
        font-size: 13px;

    }
}
@media screen and (max-width:320px) {
    .top-navbar a{
        font-size: 10px;
    }
    .top-navbar a img{
        width: 13px;
    }
    .top-navbar p{
        font-size: 10px;
        
    }
}
@media screen and (max-width:318px) {
    .top-navbar a{
        font-size: 8px;
        margin-left: 0px;
    }
    .top-navbar a img{
        width: 10px;
        margin-right: 0px;
    }
    .top-navbar p{
        font-size: 10px;
        margin-top: 20px;
        
    }
}
/*top navbar */






/* navbar */
#navbar{
    background-color: rgb(67 0 86);
}
#logo {
    margin-left: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
}
#logo span{
    color: #ffc800;
}
#logo #span1{
    font-size: 30px;
}
.navbar-nav{
    margin-left: 0px;
}
.nav-item{
    margin-left: 0px;
}
.nav-item .nav-link{
    color: white;
    margin-left: 0px;
    text-shadow: 0px 0px 0px black;
    transition: 0.5s ease;

}
.nav-item .nav-link:hover{
    color: #ffc800;
}
.dropdown-menu li a{
    color: white;
    transition: 0.5s ease;
}
.dropdown-menu li a:hover{
    background-color: rgb(67 0 86);
    color: #ffc800;
}
#search input{
    border-radius: 50px;
    border: none;
}
#search button{
    border-radius: 50px;
    color: white;
    border: 1px solid #ffc800;
    background-color: #ffc800;
}
.icons a{
    font-size: small;
   
}
/* navbar */





/* banner */
.banner{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
}

.banner .img{
    flex: 1 1 400px;
    margin-right: 10px;
}
.banner .img img{
    margin-top: 30px;
    width: 100%;
}

.banner .content {
    flex: 1 1 400px;
    margin-top: 20px;
}
.banner .content h1{
    color: rgb(67 0 86);
    font-weight: bold;
    margin-left: 23px;
    font-size: 50px;
    text-shadow: -1px 1px 1px black;

}
.banner .content h1 span{
    color: rgb(67 0 86);
    text-shadow: 1px 1px 1px black ;
}
#span2{
    color: #ffc800;
}
.banner .content p{
    margin-left: 23px ;
}
.btn {
    margin-left: 13px;
}
.btn button {
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(67 0 86);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #ffc800;
    color: black;
    border:none ;
}
@media screen and (max-width:1200px) {
    .banner {
        height: 90vh;
    }
    
}
@media screen and (max-width:799px) {
    .banner{
        height: 140vh;
    }
    
}
@media screen and (max-width:550px) {
    .banner {
        height: 110vh;
    }
    
}
@media screen and (max-width:420px) {
    .banner .content h1{
        font-size: 45px ;
    }
    
}
@media screen and (max-width:320px) {
    .banner .content h1{
        font-size: 36px ;
    }
    
}
/* banner */

/* landing page carousel */

.carousel{
    position: relative;
    height: 600px;
    width: 99%;
    margin: auto;
    
   
}

.carousel__image{
    width: 100%;
    object-fit: cover;
    
}

.carousel__track-container{
    
    background: white;
    height: 99vh;
    position: relative;
    overflow: hidden;
 
    
}
.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__nav{
    
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 20px;
    cursor: pointer;
    margin-top: 0px;
}
.carousel__indicator.current-slide{
    background: rgba(0, 0, 0, .75) ;
}

@media screen and (max-width: 899px) {
    .carousel__track-container
    {
        height: 90vh;
    }
    
}


/* landing page carousel */




/* products */
#products{
    margin-top: 100px;
}

#products h1{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffc800;
}

#products .card h3{
    font-size: 20px;
    color: black;
}

#products .card p{
    font-size: 12px;
    margin-top: 5px;
    color: black;
}

.star i{
    margin-left: 5px;
    font-size: 13px;
}

.checked{
    color: #ffc800;
}

#products .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#products .card h2 span{
    float: right;
    color: black;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #products .card h3{
        font-size: 15px;
    }
    
}
/* products */





/* hot offers */
#hot-offers{
    margin-top: 50px;
}

#hot-offers h1{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffc800;
}

#hot-offers .card h3{
    font-size: 20px;
    color: black;
}

#hot-offers .card p{
    font-size: 18px;
    margin-top: 5px;
    color: red;
}

.star i{
    margin-left: 5px;
    font-size: 13px;
}

.checked{
    color: #ffc800;
}

#hot-offers .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#hot-offers .card h2 span{
    float: right;
    color: black;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #hot-offers .card h3{
        font-size: 15px;
    }
    
}
/* hot offers */






/* other cards */
#other-cards{
    margin-top: 60px;
}
#other-cards .card{
    background-color: #a9a9a92b;
}
#other-cards .card h3{
    margin-top: 0px;
    color:black;
    margin-left: 10px;
    letter-spacing: 3px;
}
#other-cards .card h5{
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    width: 220px;
}
#other-cards .card p{
    margin-left: 10px;
    font-weight: 100;
    font-size: 25px;
    color: red;
    font-weight: bold;
    font-style: unset;
    margin-left: 10px;
    letter-spacing: 3px;

}
.btn3 {
    margin-left: 10px;
   
}
.btn3 button {
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(67 0 86);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn3 button:hover{
    background-color: #ffc800;
    color: black;
    border:none ;
}

@media screen and (max-width:1000px) {
    #other-cards .card h3{
        font-size: 5px;
        font-size: 20px;
    }
    #other-cards .card h5{
        margin-top: 5px;
        font-size: 15px;
    }
    #other-cards .card p{
        margin-top: 0px;
        
    }
    #shopnow{
        margin-top: 0px;
        width: 120px;
        height: 30px;
        font-size: 16px;
        margin-bottom: 10px;
        border-radius: 5px;

    }   
}
/* other cards */





/* home content */
.summer-sale{
    margin-top: 70px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
}

.summer-sale .img{
    flex: 1 1 300px;
    margin-right: 10px;
    
}
.summer-sale .img img{
    margin-top: 30px;
    width: 100%;
}

.summer-sale .content {
    flex: 1 1 400px;
    margin-top: 20px;
}
.content h1{
    color: rgb(67 0 86);
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;

}
.content h1 span{
    color: rgb(67 0 86);
    text-shadow: 1px 1px 1px black ;
}
#span1{
    color: #ffc800;
}
#span2{
    color: #ffc800;
}
.content p{
    margin-left: 23px ;
}
.btn {
    margin-left: 13px;
}
.btn button {
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(67 0 86);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #ffc800;
    color: black;
    border:none ;
}
@media screen and (max-width:1200px) {
    .summer-sale {
        height: 90vh;
    }
    
}
@media screen and (max-width:799px) {
    .summer-sale {
        height: 140vh;
    }
    
}
@media screen and (max-width:550px) {
    .summer-sale {
        height: 110vh;
    }
    
}
@media screen and (max-width:420px) {
    .content h1{
        font-size: 45px ;
    }
    
}
@media screen and (max-width:320px) {
    .content h1{
        font-size: 36px ;
    }
    
}
/* home content */






/*our-collection section*/

#our-collection{
    margin-top: 70px;
}

#our-collection h1{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffc800;
}

#our-collection .card h3{
    font-size: 20px;
    color: black;
}

#our-collection .card p{
    font-size: 12px;
    margin-top: 5px;
    color: black;
}

.star i{
    margin-left: 5px;
    font-size: 13px;
}

.checked{
    color: #ffc800;
}

#our-collection .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#our-collection .card h2 span{
    float: right;
    color: black;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #our-collection .card h3{
        font-size: 15px;
    }
    
}
/*our-collection section*/







/* latest products row1 */
#other{
    margin-top: 50px;
}
#other .card{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
}
#other h1{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffc800;
    margin-bottom: 20px;
}

#other .card h3{
    margin-top: 0px;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
    font-weight: bold;
}
#other .card p{
    margin-top: 10px;
    color: white;
    text-shadow: 0px 1px 1px black;
    letter-spacing: 1px;
    font-weight: bold;
    
  
}
/* latest products row1 */



/* latest products row2 */
#row2{
    margin-top: 20px;
}
#row2 .card{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
}

#row2 .card h3{
    margin-top: 0px;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
    font-weight: bold;
}
#row2 .card p{
    margin-top: 10px;
    color: white;
    text-shadow: 0px 1px 1px black;
    letter-spacing: 1px;
    font-weight: bold;
}
.btn1 {
    margin-left: 0px;
}
.btn1 button {
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(67 0 86);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn1 button:hover{
    background-color: #ffc800;
    color: black;
    border:none ;
}
/* latest products row2 */






/* newsletter */
#newsletter{
    margin-top: 100px;
}
#newsletter h3{
    font-size: 25px;
    letter-spacing: 3px;
}
.input{
    margin-top: 30px;
}
.input input{
    width: 350px;
    height: 36px;
    letter-spacing: 2px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 5px;
}
#subscribe{
    width: 200px;
    height: 36px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #ffc800;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;

}
@media screen and (max-width:465px) {
    .input input{
        width: 280px;
    }
    #subscribe{
        margin-top: 10px;

    }
    
}
@media screen and (max-width:250px) {
    .input input{
        width: 150px;
    }
    #subscribe{
        width: 150px;
        
    }
    
}
/* newsletter */











/* offer */
#offer{
    margin-top: 100px;
}

#offer h1{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffc800;

}

#offer i{
    font-size: 32px;
    color: black;
    margin-top: 20px;
    
}
/* offer */



/* footer */
#footer{
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    background-color: rgb(67 0 86);
    margin-top: 100px;
}
#footer .footer-top{
    padding: 60px 0 30px 0;
    background-color: rgb(67 0 86);
    color: white;
}
#footer .footer-top .footer-contact{
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#footer .footer-top .footer-contact h3{
    color: #ffc800;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: #ffc800;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
    margin-bottom: 40px;
    
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
}
#footer .footer-top .footer-links h4{
    color: #ffc800;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul a{
    text-decoration: none;
    display: inline-block;
    color: white;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
}
#footer .footer-top .footer-links ul a:hover{
    color: #ffc800;
}
#footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;

}
#footer .footer-top .social-links a:hover{
background-color: #ffc800;
color: white;

}
#footer .copyright{
    text-align: center;
    float: left;
}
#footer .credits{
    float: right;
    text-align: center;
    font-size: 13px;
}
#footer .credits a{
    color: #ffc800;
}
/* footer */



/* arrow */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}
/* arrow */

/* CSS code for landing page */














/* CSS code for product page */

#code{
    margin-top: 100px;
    text-align: center;
    color: red;
}

/* CSS code for product page */




/* CSS code for login/register page */

#code{
    margin-top: 100px;
    text-align: center;
    color: red;
}

/* CSS code for product page */






/* CSS code for about us page */

#code{
    margin-top: 100px;
    text-align: center;
    color: red;
}

/* CSS code for about us page */





/* CSS code for contact us page */

#code{
    margin-top: 100px;
    text-align: center;
    color: red;
}

/* CSS code for contact page */


/*CSS code for product detail*/

.main-wrapper{
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding: 0 px;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
}

.product-div-right span{
    display: block;
    margin-top: 30px;

}

.img-container img{
    width: 400px;
    margin: 0 auto;
}

.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
    
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: rgb(67 0 86);
    border: 2px solid rgb(67 0 86);
    margin-right: 8px;
}
.add-cart-btn:hover{
    background-color: #fff;
    color: rgb(67 0 86);
}
.buy-now-btn{
    background-color: #000;
    border: 2px solid #000;
}
.buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}


.radio-container {
    font-size: 24px;
    padding: 8px;
    background-color:#f7f7f7 ;
    border-radius: 2.5%;
   
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    position: relative;
    cursor: pointer;
    padding-right: 32px;
    font-size: 15px;
    
  }
  label:hover{
    color: purple;
  }
  
 
  label::before {
    content: "";
    border: 2px solid #222;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -8px 20px;
    margin-left: 0;
    border-radius: 50%;
  }
  
  label::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(34, 34, 34, 0);
    left: 5px;
    top: 9px;
    border-radius: 50%;
  
    transition: all 0.4s;
  }
  
  input[type="radio"]:checked + label::after {
    background: rgba(34, 34, 34, 1);
  }
  a{
    text-decoration: none;
  }